body {
    margin: 0;
}

.header {
    background-color: #1F2937;
}

.header {
    height: 40px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.right-item > a {
    margin: 0 10px;
}

.left-item {
    font-weight: bold;
}


.body1 {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 0 100px;
}

.item-1, .image-box {
    flex: 1;
}

.item-1 > *{
    margin: 4px 0;
}

.body1 {
    padding: 50px 100px;
    color: #F9FAF8;
    background-color: #1F2937;
}

.body3 {
    padding: 0 100px;
    text-align: center;
}

.body4 {
    background-color: lightgray;
    padding: 40px 150px;
}

.Body5 {
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    width: 300px;
    height: auto;
}

.image-box {
    display: flex;
    justify-content: center;
}

.button-style {
    border-radius: 5px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: 0;
    padding: 10px 30px;
}